<h1>Home#index</h1>

<h3>Posts</h3>

<ul>
    <li>post has multiple paragraph</li>
    <li>use rails rich text to edit post post paragraph</li>
    <li>post has multiple image</li>
    <li>paragraph, image are dragable so user can sort post elemeents has he wants</li>
</ul>

