@import "~bootstrap/scss/bootstrap";
@import "trix/dist/trix";
@import "./actiontext";
@import "./base";

.flash-alert {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding: 0 0 0 30px;
}
